/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  line-height: 1.7;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #222;
}

section {
  padding: 96px 0;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #222;
  margin: 0;
}

.section-subtitle {
  font-family: 'Gentium Book Basic', serif;
  font-size: 16px;
  font-style: italic;
  color: #777;
  margin: 0;
}

.content-title {
  font-size: 18px;
  margin: 0;
  text-transform: capitalize;
  color: #f7f7f7;
}

/* Navbar - inside .hero */
.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #222;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.brand-name {
  font-family: 'Great Vibes', cursive;
  color: #fed136;
  font-size: 28px;
}

.menu {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  background: #222;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

.menu li {
  padding: 5px 30px;
  font-size: 14px;
  text-transform: uppercase;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.menu a:hover,
a:focus {
  color: #fed136;
}

.menu-icon {
  font-size: 24px;
  color: #fed136;
  background: #fff;
  border-radius: 2px;
  cursor: pointer;
  padding: 0 10px;
}

#menu-btn:checked ~ .menu {
  max-height: 200px;
  padding: 15px 0;
  visibility: visible;
  transition: all 0.2s ease;
}

/* Hero */
.hero {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.hero .hero-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero .page-title {
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.hero .page-subtitle {
  font-family: 'Gentium Book Basic', serif;
  font-size: 40px;
  font-style: italic;
  text-transform: capitalize;
  margin: 0;
}

.btn {
  margin-top: 48px;
  padding: 15px 40px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  background-color: #fed136;
  border-radius: 2px;
}

.btn:hover {
  color: #fed136;
  background: #fff;
}

/* Services */
.service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 48px;
}

.service-content i {
  font-size: 44px;
  color: #fed136;
  border: 3px solid #fed136;
  border-radius: 50%;
  line-height: 80px;
  height: 80px;
  width: 80px;
  text-align: center;
  margin-bottom: 40px;
}

.service-content p {
  font-size: 14px;
  color: #f7f7f7;
}

/* Portfolio */
.portfolio {
  background-color: #f7f7f7;
  text-align: center;
}

.portfolio h4 {
  font-family: 'Gentium Book Basic', serif;
  font-style: italic;
  font-size: 14px;
  margin: 0;
  text-transform: capitalize;
  color: #777;
}

.portfolio-img {
  height: 400px;
}

.portfolio-img img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.portfolio-text {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 48px;
}

/* Footer */
footer {
  margin: 0;
  padding: 24px 0;
}

footer .row {
  align-items: center;
}

footer p {
  font-size: 14px;
}

.social-media {
  text-align: center;
}

.social-media a {
  font-size: 0;
}

.social-media i {
  margin: 0 5px;
  color: #fff;
  background-color: #222;
  font-size: 20px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  width: 40px;
}

/* Media */
@media (min-width: 320px) and (max-width: 768px) {
  .hero .page-title {
    font-size: 48px;
  }
  .hero .page-subtitle {
    font-size: 28px;
  }
  .hero .btn {
    transform: scale(0.8);
  }
  footer {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .navbar {
    background-color: transparent;
  }
  .menu {
    visibility: visible;
    max-height: 200px;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    background-color: transparent;
  }
  .hero .menu-icon {
    display: none;
  }
}
